#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# http://prometheus.io/docs/operating/configuration/

global:
  resolve_timeout: 5m
  slack_api_url: '{{ slack_api_url }}'

# The directory from which notification templates are read.
templates: []

route:
  receiver: 'slack-notifications'
  group_wait: 10s
  group_interval: 10s
  repeat_interval: 1h
  group_by: [alertname]

{% if alerts_inhibit_rules != [] %}
inhibit_rules:
{{ alerts_inhibit_rules | to_nice_yaml(indent=2) | indent(2,False) }}
{% endif %}

receivers:
- name: 'slack-notifications'
  slack_configs:
  - channel: 'prisma-alerts'
    text: "<!channel> \nAlert: <{{ '{{' }} if .CommonAnnotations.runbook_url {{ '}}' }}{{ '{{' }} .CommonAnnotations.runbook_url {{ '}}' }}|{{ '{{' }} end {{ '}}' }}{{ '{{' }} .GroupLabels.alertname {{ '}}' }}> {{ '{{' }} if .CommonAnnotations.namespace {{ '}}' }} \nNamespace: <https://k8s.stfc.skao.int/kibana/app/logs/stream?flyoutOptions=(flyoutId:!n,flyoutVisibility:hidden,surroundingLogsId:!n)&logFilter=(expression:%27kubernetes.namespace%20:%20{{ '{{' }} .CommonAnnotations.namespace {{ '}}' }}%27,kind:kuery)&logPosition=(end:now,,start:now-1d,streamLive:!f)|{{ '{{' }} .CommonAnnotations.namespace {{ '}}' }}> {{ '{{' }} end {{ '}}' }}  {{ '{{' }} if .CommonAnnotations.summary {{ '}}' }}\nSummary: {{ '{{' }} .CommonAnnotations.summary {{ '}}' }} {{ '{{' }} end {{ '}}' }} {{ '{{' }} if .CommonAnnotations.message {{ '}}' }}\nMessage: {{ '{{' }} .CommonAnnotations.message {{ '}}' }} {{ '{{' }} end {{ '}}' }}\nSee: <{{ prometheus_url }}/alerts|Alerts> and all <{{ prometheus_alertmanager_url }}/#/alerts?receiver=slack-notifications|Slack Notifications>\n\n{{ '{{' }} if gt (len .Alerts) 1 {{ '}}' }}Details:\n---\n{{ '{{' }} range .Alerts {{ '}}' }}{{ '{{' }} range $key, $value := .Labels {{ '}}' }}{{ '{{' }} $key {{ '}}' }}: {{ '{{' }} $value {{ '}}' }}\n{{ '{{' }} end {{ '}}' }}{{ '{{' }} range $key, $value := .Annotations {{ '}}' }}{{ '{{' }} $key {{ '}}' }}: {{ '{{' }} $value {{ '}}' }}\n{{ '{{' }} end {{ '}}' }}\n---\n{{ '{{' }} end {{ '}}' }}{{ '{{' }}  end {{ '}}' }}"



