apiVersion: 1

# list of datasources that should be deleted from the database
deleteDatasources:
  - name: '{{ grafana_datasource }}'
    orgId: 1

# list of datasources to insert/update depending
# what's available in the database
datasources:
- name: '{{ grafana_datasource }}'
  type: 'prometheus'
  access: 'proxy'
  orgId: 1
  url: http://{{ ansible_host }}:9090
  basicAuth: false
  isDefault: true
  editable: false
# others to be added manually
# - name: Elastic
#   type: elasticsearch
#   access: proxy
#   database: "filebeat-7.13.3"
#   url: http://{{ elasticsearch_host_ip }}:9200
#   basicAuth: true
#   user: "elastic"
#   password: "changeme"
#   jsonData:
#     esVersion: 70
#     interval: Daily
#     timeField: "@timestamp"
