filebeat.config:
  modules:
    path: ${path.config}/modules.d/*.yml
    reload.enabled: false

filebeat.autodiscover:
  providers:
    - type: docker
      hints.enabled: true

output.elasticsearch:
  hosts: ["http://{{ elasticsearch_host_ip }}:9200"]
  username: 'elastic'
  password: 'changeme'